$purple: #512DA8;
$pink: #FF4D88;
$gray: #323134;

$proxima-nova: "proxima-nova";

html, body {
  font-family: $proxima-nova;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  width: 1250px;
  margin: auto;
  padding: 0 30px;
  max-width: 100%;
  box-sizing: border-box;
}

.container--flex {
  display: flex;
  height: 100%;
}

.container--centered {
  align-items: center;
}

section {
  height: 100vh;
}

.site-header {
  background-color: $purple;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;

  > div {
    flex: 1;
  }
}

// h1 {
//   text-align: center;
// }

.logo {
  padding: 20px;
}

.menu {
  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 100%;
  }

  li {
    padding: 30px 50px;
    text-transform: uppercase;
    font-size: 18px;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.account {
  display: flex;
  justify-content: flex-end;
}

.login {
  display: flex;
  align-items: center;
  padding: 0 35px;

  a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 5px;
  }
}

.download {
  background: $pink;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 35px;
  text-transform: uppercase;

  span {
    display: block;

    &:first-of-type {
      font-weight: 800;
      font-size: 16px;
      line-height: 1.25em;
    }

    &:last-of-type {
      font-size: 11px;
      font-weight: 500;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.content {
  display: flex;
}

.text, .image {
  width: 50%;
}

.text {
  h2 {
    font-weight: 900;
    font-size: 60px;
    color: $gray;
    margin-bottom: 20px;
  }

  p {
    font-size: 26px;
    font-weight: 500;
    color: $gray;
  }
}

.image {
  text-align: center;
}
