// screen 1

.screen-1 {

  // .donuts
  // .giants
  // .sat
  // .text-1

  .donuts, .giants, .sat, .text-1 {
      opacity: 1;
      transition-delay: 0.5s;
      display: block;
  }
}

// screen 2

.screen-2 {

    // donuts fades out
    // sat fades out

    // text-1 fades out and up

    // giants expands

    // text-2 fades in and up

    // message pops in

    // button fades in

    .text-1 {
        margin-top: -30px;
        opacity: 0;
    }

    .text-2 {
        opacity: 1;
        margin-top: 0;
        transition-delay: 1s;
        display: block;
    }

    .donuts {
        transform: scale(0.5);
        opacity: 0;
    }

    .sat {
        transform: scale(0.5);
        opacity: 0;
    }

    .giants {
      opacity: 1;

      .price {
        img {
          width: 80px;
        }
      }
    }

    .giants-big {
        opacity: 1;
        transform: scale(1);
    }

    .button {
        opacity: 1;
        transition-delay: 1.25s;
    }

    .message {
        // animation-name: bounceInUp 5s 1;
        animation-name: bounceInUp;
        animation-duration: .5s; /* or: Xms */
        animation-iteration-count: 1;
        animation-delay: 1s;
        transform-origin: bottom left;
        transform: scale(1);
        opacity: 1;
    }
}

.screen-3, .screen-4 {

  // message slides out
  // button slides out

  // text-2 fades out and up

  // text-3 fades in and up

  // giants-big squeezes closed

  // nico squeezes open

  // facebook button slides in



  .text-2 {
    opacity: 0;
    margin-top: -30px;
    transition-delay: 0s;
  }

  .text-3 {
    opacity: 1;
    margin-top: 0;
    transition-delay: 0.25s;
    display: block;
  }

  .giants-big {
    // width: 10px;
    opacity: 0;
    transition-delay: 0s;
    transform: scale(0.1, 1);
    // transform-origin: center;
  }

  .nico {
    opacity: 1;
    transform: scale(1);
  }

  .facebook-button {
    right: -50px;
    transition-delay: 0.5s;
  }
}

.screen-4 {
  height: 300vh;
  position: absolute;

  .container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
