@keyframes bounceInUp {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

$purple: #512DA8;
$pink: #00DCC7;
$gray: #323134;

$proxima-nova: "proxima-nova";

html, body {
  font-family: $proxima-nova;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 1250px;
  margin: auto;
  padding: 0 30px;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;

  @include media-query($large-down) {
    padding-top: 100px;
  }
}

.container--flex {
  display: flex;
  height: 100%;
}

.container--centered {
  align-items: center;
}

main {
  height: 400vh;
  position: relative;
  overflow: hidden;
  width: 100%;
}

section {
  height: 100vh;
}

.site-header {
  background-color: $purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;

  > div {
    flex: 1;
  }
}

.back {
  .donuts, .giants, .sat, .text-1, .text-2, .text-3, .nico, .giants-big,  .button, .chat, .person {
    transition-delay: 0s !important;
    animation-delay: 0s !important;
  }
}

// h1 {
//   text-align: center;
// }

.logo {
  padding: 0 20px;
}

.menu {
  position: relative;
  text-align: center;
  height: 100%;

  > div {
    display: inline-block;
    position: relative;
    height: 100%;
  }

  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    height: 100%;
    z-index: 10;
    position: relative;
    height: 100%;
    align-items: center;
  }

  li {
    // padding: 30px 0;
    width: 150px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;

    // @include media-query($large-down) {
    //   width: 100px;
    // }
  }

  a {
    color: white;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.50);
  }

  .nav-pointer {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    width: 200px;
    // opacity: 0;

    

    // &:before {
    //   top: 0;
    // 	border: solid transparent;
    // 	content: " ";
    // 	height: 0;
    // 	width: 0;
    // 	position: absolute;
    // 	pointer-events: none;
    // 	border-color: rgba(255, 255, 255, 0);
    // 	border-top-color: $pink;
    // 	border-width: 100px;
    // 	// margin-left: -100px;
    // }
  }

  @include media-query($medium-down) {
    display: none;
  }

}

.account {
  display: flex;
  justify-content: flex-end;
  height: 100%;

  @include media-query($medium-down) {
    display: none;
  }
}

.login {
  display: flex;
  align-items: center;
  padding: 0 35px;
  text-align: center;

  a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 5px;
  }
}

.toggle {
  display: none;

  @include media-query($medium-down) {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    align-items: center;
  }
}

.download {
  background: $pink;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 35px;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
  }

  span {
    display: block;

    &:first-of-type {
      font-weight: 800;
      font-size: 16px;
      line-height: 1.25em;
      padding-bottom: 5px;
    }

    &:last-of-type {
      font-size: 11px;
      font-weight: 500;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.content {
  display: flex;
}

.text, .image {

  @include media-query($widescreen) {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px;
  }

  @include media-query($large-down) {
    position: relative;
  }

}

.text {
  h2 {
    font-weight: 900;
    font-size: 50px;
    color: $gray;
    margin-bottom: 20px;
  }

  p {
    font-size: 22px;
    font-weight: 500;
    color: $gray;
  }

  @include media-query($widescreen) {
    left: 0;
    height: 50px;
  }

  @include media-query($large-down) {
    position: relative;
    height: 200px;

    h2 {
      font-size: 30px;
    }

    p {
      font-size: 18px;
    }
  }

  @include media-query($medium-down) {
    height: 135px;
  }
}

.text-inner {
  transition: all 0.3s;
  opacity: 0;

  @include media-query($widescreen) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  @include media-query($large-down) {
    display: none;
    text-align: center;
  }
}

.text-1 {
  transition-delay: 0.5s;
}

.text-2 {
  margin-top: 30px;
}

.text-3 {
  margin-top: 30px;
}

.image {
  text-align: center;
  right: 0;

  > div {
    position: relative;
    display: inline-block;
  }

  @include media-query($large-down) {
    padding: 30px;
  }

  @include media-query($medium-down) {
    padding: 30px;
    transform: scale(0.8);
    transform-origin: top;
  }
}

.screen {
  position: fixed;
  width: 100%;
  // padding-top: 83px;
  box-sizing: border-box;
}

#screen1 {
  top: 0;
}

#screen2 {
  top: 100vh;
}

#screen3 {
  top: 200vh;
}

#screen4 {
  top: 300vh;
}

.trigger {
  height: 1px;
  width: 50px;
  left: 0;
  // background: blue;
  position: absolute;
}

.phone {
    position: relative;
    perspective: 600;

    > img {
      max-width: 305px;

      @include media-query($medium-down) {
        max-width: 200px;
      }
    }

    .thumbnail {
      box-shadow: 0 10px 10px 0 rgba(0,0,0,0.30);
    }
}

.thumbnail {
    position: absolute;
    text-align: left;
    transition: all 0.3s;
    border-radius: 10px;
    background: white;

    > img {
        display: block;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.thumbnail-small {
  // max-width: 175px;
  width: 175px;
  background: white;
  border-radius: 5px;

  > img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  @include media-query($large) {
    width: 150px;
  }

  @include media-query($medium-down) {
    width: 110px;
  }
}

.donuts {
    top: -25px;
    right: -100px;
    opacity: 0;
    transition: all 0.3s;

    @include media-query($medium-down) {
      right: -60px;
    }
}

.giants {
    left: -75px;
    top: -15px;
    transition: all 0.3s;
    opacity: 0;
    height: 235px;


    @include media-query($medium-down) {
      width: 110px;
      left: -50px;
      top: -20px;
      height: 182px;
    }
}

.sat {
    bottom: -60px;
    right: -30px;
    transition: all 0.3s;
    opacity: 0;

    @include media-query($medium-down) {
      bottom: 15px;
      right: 10px;
    }
}

// .giants-big {
//     left: -100px;
//     top: 20px;
//     opacity: 0;
//     transform: scale(0.5);
//     transform-origin: top left;
//     transition-delay: 0.75s;
//     transition: all 0.3s;
//
//     > img {
//         border-top-right-radius: 10px;
//         border-top-left-radius: 10px;
//         max-width: 300px;
//     }
//
//     @include media-query($medium-down) {
//       left: -50px;
//       top: -20px;
//
//       > img {
//         max-width: 100%;
//       }
//     }
// }

.nico {
  left: -75px;
  top: -15px;
  // transition: all 0.3s;
  opacity: 0;
  height: 450px;
  width: 250px;
  transform: rotateY(180deg);

  @include media-query($medium-down) {
    width: 200px;
    left: -50px;
    top: -20px;
    height: 365px;
  }
}

.caption {
    background-color: white;
    padding: 12px;
    color: #323134;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    span {
        display: block;

        &:first-of-type {
            font-weight: 600;
            font-size: 14px;
            padding-bottom: 5px;

            // @include media-query($medium-down) {
            //   font-size: 14px;
            // }
        }

        &:last-of-type {
            font-size: 12px;
            font-weight: 600;

            img {
                width: 12px;
            }

            @include media-query($medium-down) {
              font-size: 10px;
            }
        }
    }

    @include media-query($medium-down) {
      padding: 10px;
    }
}

.caption-nico {
  text-align: center;
  padding: 20px;

  > span {
    display: block;
    margin-bottom: 5px;

    &:first-of-type {
      font-size: 26px;
      font-weight: 600;
    }

    &:last-of-type {
      font-size: 14px;
    }
  }

  > img {
    padding: 5px 0 15px;
    display: block;
    margin: 0 auto 5px;
  }

  @include media-query($medium-down) {
    height: 100px;
  }
}

.chat {
    background-color: white;
    opacity: 0;
    height: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.message-container {
    height: 75px;
    position: relative;

    @include media-query($medium-down) {
      height: 60px;
    }
}

.message {
    position: absolute;
    top: 0;
    left: 15px;
    width: 100%;
    background-color: #64b5f7;
	  border: solid 2px #ffffff;
    padding: 12px 18px;
    border-radius: 10px;
    z-index: 10;
    height: 66px;
    box-sizing: border-box;
    transition: all 0.3s;
    transition-delay: 1s;
    transition-origin: bottom left;
    transform: scale(0.5);
    opacity: 0;
    filter: drop-shadow(5px 5px 0 rgba(0,0,0,0.05));

    p {
        color: white;
        margin: 0;
        font-size: 15px;
        line-height: 1.25em;
        font-style: italic;

        @include media-query($medium-down) {
          font-size: 11px;
        }
    }

    &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 7px 0 0;
        border-color: #64b5f7 transparent transparent transparent;
        position: absolute;
        left: 15px;
        bottom: -8px;
        z-index: 2;
    }

    &:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 10.5px 0 0;
        border-color: white transparent transparent transparent;
        position: absolute;
        left: 13px;
        bottom: -13px;
        z-index: 1;
    }

    @include media-query($medium-down) {
      height: 50px;
      padding: 10px 16px;
    }
}

.message-shadow {
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    width: 100%;
    top: 5px;
    left: 30px;
    border-radius: 10px;
    z-index: 5;
    height: 66px;
    box-sizing: border-box;

    &:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 10.5px 0 0;
        border-color: rgba(0, 0, 0, 0.05) transparent transparent transparent;
        position: absolute;
        left: 13px;
        bottom: -12px;
        z-index: 1;
    }

    @include media-query($medium-down) {
      height: 50px;
      top: 0;
      left: 25px;
    }
}

.person {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;

    > div {
        display: flex;
        align-items: center;

        img {
            margin-right: 10px;
            width: 34px;

            @include media-query($medium-down) {
              width: 30px;
            }
        }

        > span {
            font-weight: bold;
            font-size: 12px;
        }
    }
}

.stars {
  @include media-query($medium-down) {
    width: 50px;
  }
}

.button {
    background-color: $purple;
    width: 230px;
    padding: 15px;
    text-align: center;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s;

    span {
        color: white;
        font-size: 14px;
        font-weight: bold;
    }

    @include media-query($medium-down) {
      width: 145px;
      bottom: 40px;

      span {
        font-size: 14px;
      }
    }
}

.facebook-button {
  background-color: #4266B2;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 20px 15px;
  border-radius: 10px;
  position: relative;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  right: -9999px;
  transition: all 0.3s;
  border: 2px solid white;
  filter: drop-shadow(5px 5px 0 rgba(0,0,0,0.05));

  > div {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background: white;
    border-radius: 50%;
    width: 21px;
    height: 21px;
  }

  span {
    padding: 0 !important;
    font-size: 16px !important;
    margin-left: 19px;
  }
}

.facebook {
  height: 60px;
  width: 100%;
  position: relative;
}

.green-circle {
  position: absolute;
  z-index: -10;
  bottom: -250px;
  left: -250px;

  > img {
    display: block;
    transition: all 0.3s;
    width: 415px;
    max-width: none;
    // animation: rotating 12s linear infinite;
  }

  @include media-query($large-down) {
    bottom: -215px;
    left: -150px;

    > img {
      width: 300px;
    }
  }
}

.dotted-circle {
  position: absolute;
  z-index: -10;
  top: -150px;
  right: -250px;

  > img {
    display: block;
    transition: all 0.3s;
    width: 480px;
    max-width: none;
    // animation: rotating 12s linear infinite;
  }

  @include media-query($large-down) {
    top: -250px;
    right: -150px;

    > img {
      width: 300px;
    }
  }
}


.footer {
  height: 100vh;
  background-color: $purple;
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;

  &:before {
    top: 0;
  	left: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-color: rgba(255, 255, 255, 0);
  	border-top-color: #ffffff;
  	border-width: 100px;
  	margin-left: -100px;
  }
}

.footer-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .download {
    width: 300px;
    margin: auto;
    justify-content: center;
    padding: 20px;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding-left: 30px;
    position: relative;
    transition: all 0.3s;

    span {
      display: block;

      &:first-of-type {
        font-weight: 800;
        font-size: 20px;
        line-height: 1.25em;
        margin-bottom: 5px;
      }

      &:last-of-type {
        font-size: 11px;
        font-weight: 500;
      }
    }

    .apple {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 23px;
      z-index: 10;
    }
  }

  h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;

    @include media-query($medium-down) {
      font-size: 40px;
    }
  }

  @include media-query($medium-down) {
    text-align: center;
  }
}

.white-circle {
  position: absolute;
  top: 0;
  right: 50px;
}

.white-dotted-circle {
  position: absolute;
  bottom: 0;
  left: 20%;
  z-index: -1;
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-size: 12px;
  box-sizing: border-box;
  font-weight: 400;

  a, span {
    color: white;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.site-footer-name {
  text-align: right;
}

.site-footer-nav {
  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0 30px;

    @include media-query($medium-down) {
      padding: 0 5px;
    }
  }
}

.price {
  position: absolute;
  top: -28px;
  left: -28px;
  z-index: 100;

  > svg {
    width: 55px;
    transition: all 0.3s;

    @include media-query($medium-down) {
      width: 40px;
    }
  }
}


/* Icon 3 */

#toggle-icon {
  width: 30px;
  height: 24px;
  position: relative;
  // margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#toggle-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#toggle-icon span:nth-child(1) {
  top: 0px;
}

#toggle-icon span:nth-child(2),#toggle-icon span:nth-child(3) {
  top: 10px;
}

#toggle-icon span:nth-child(4) {
  top: 20px;
}

#toggle-icon.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

#toggle-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#toggle-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#toggle-icon.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

.mobile-menu {
  display: none;

  background: $pink;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.1);

  .download {
    justify-content: center;
    padding: 30px;
  }

  .login {
    padding: 30px;
    background: white;
    justify-content: center;

    a {
        color: $purple;
        border-bottom-color: $purple;
    }
  }
}


.card-container {
  height: 150px;
  perspective: 600;
  position: relative;
  width: 150px;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}
.card .back {
  transform: rotateY(180deg);
}
